@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

html,
body {
    overflow: visible;
    min-height: 100vh;
    height: 100%;
}

body {
    background: #ecf2f8;
    font-size: 0.8125rem;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.card {
    margin-block: auto;
    max-width: 20.4375rem;
    box-shadow: 0 2.5rem 2.5rem -0.625rem rgba(201, 213, 225, 0.5);
}

.hero__image {
    max-height: 200px;
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.content {
    position: relative;
    background: #ffffff;
    padding: 2.25rem 2rem 1.25rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.content__header {
    color: #48556a;
    font: bold 1rem/ 1.5 "Manrope";
    letter-spacing: 0.0125rem;
    margin-bottom: 0.75rem;
}

.content__description {
    color: #6e8098;
    font: 500 0.8125rem/1.5 "Manrope";
    letter-spacing: 0.0075rem;
}

.profile {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    gap: 1rem;
}

.author__image {
    border-radius: 100%;
}

.info__name {
    color: #48556a;
    font: bold 0.8125rem/1.5 "Manrope";
    letter-spacing: 0.0075rem;
}

.info__date {
    color: #9daec2;
    font-weight: 500;
    font-family: "Manrope";
    letter-spacing: 0.0075rem;
    line-height: 1.5;
}

.share__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 0;
}

.popup {
    position: absolute;
    top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__content {
    display: flex;
    column-gap: 1.25rem;
    padding: 1rem 2.25rem;
    background: #48556a;
    border-radius: 0.625rem;
}

.popup__triangle {
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #48556a;
}

.popup__icon {
    max-width: none;
}

.share__button {
    padding: 0.59375rem 0.53125rem;
    border-radius: 100%;
    border: none;
    background: #ecf2f8;
    z-index: 2;
}

.upshift {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #48556a;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.upshift__content {
    display: flex;
    column-gap: 1.25rem;
    padding: 0.375rem;
}

.share__span {
    font: 500 1em/1.5 "Manrope";
    color: #9daec2;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
}

.icon__list {
    padding: 0;
    display: flex;
    column-gap: 1rem;
}

.icon__list--item {
    padding: 0;
    list-style: none;
}

.share__icon {
    color: #6E8098;
    width: 0.9375rem;
    height: 0.8125rem;
    max-width: none;
    margin: 0 auto;
}

.share__button:hover {
    background-color: #6E8098;
}

.share__button:hover path {
    fill: white;
}

.active__button {
    background: #6E8098;
}

.active__icon {
    fill: white;
}

.visibility {
    display: none;
}

.animate-from-bottom {
    animation: fadeInFromBottom 0.2s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 55rem) {
    .card {
        max-width: 45.625rem;
        display: grid;
        grid-template-columns: 17.8125rem 1fr;
    }

    .hero__image {
        max-height: none;
        height: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
    }

    .content {
        padding: 2rem 2.5rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
    }

    .content__header {
        font-size: 1.25rem;
        line-height: 1.4;
        letter-spacing: 0.015625rem;
    }

    .profile {
        margin-top: 1.25rem;
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;

        transform: translateY(100%);
    }

    100% {
        opacity: 1;

        transform: translateY(0%);
    }
}
